:root{
    --primary-text-color:#212121;
    --title-text-color:#ffffff;
    --accent-color:#2196F3;
    --info-text:#757575;
    --bgc-color:#2F303A;
    --logo-color:#000000;
}

body{
    color: var(--primary-text-color);
    background-color:var(--title-text-color);
    font-family: 'Roboto', sans-serif;
}
.logotype{
    color: var(--logo-color);
    text-decoration: none;
}
.list .link {
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
}
.list .link:hover,
.list .link:focus{
color: var(--accent-color);
}
.link-address{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
}
.link-address:hover,
.link-address:focus{
color: var(--accent-color);
}

.title{
    color: var(--title-text-color);
    background-color: var(--bgc-color);
    font-weight: 900;
    font-size: 44px; 
    line-height:1.4;
    text-align: center;
}
.post-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.button{
    background-color: var(--accent-color);
    color: var(--title-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}
.list{
    list-style: none;
}
.text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}
.post-text{
    color: var(--info-text);
    font-size: 14px;
    line-height: 1.7;
}
.worker{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    list-style: none;
}
.workplace{
color: var(--info-text);
font-size: 16px;
line-height: 1.2;
}
.footer{
    background-color: var(--bgc-color);
    }
     .address{
        color: var(--title-text-color);
        font-size: 14px;
        line-height: 1.7;
        font-style: normal;
            }
    .address:hover,
    .address:focus{
        color: var(--accent-color);
    }

    .contacts{
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.7;
        text-decoration: none;
    }
    .contacts:hover,
    .contacts:focus{
        color: var(--accent-color);
    }
    .logo-info{
        font-family: 'Raleway';
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        text-decoration: none;
    }
    .logo-info .logo-blue{
        color: var(--accent-color);
    }


    /*portfolio*/
    .logo-header{
        font-family: 'Raleway';
        color: var(--logo-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        text-decoration: none;
    }
    .logo-header .logo-blue{
    color: var(--accent-color);
    }
.buttons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    }
.buttons:hover,
.buttons:focus{
    background-color: var(--accent-color);
    color: var(--title-text-color);
}
.projects{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.jobs{
    color: var(--info-text);
    font-size: 16px;
    line-height: 1.9;
}